*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav ul{
    display:flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;;
}
ul{ 
    list-style: none;
}
nav{
    width: 100%;
}
li{
    padding: 20px;
}
body{
    background-color:rgb(173, 83, 173);
    height:auto;
}
.container{
    display: grid;
    grid-template-columns:  200px 200px 50px;
    grid-template-rows: 100px 100px 10px;
    grid-template-areas:
    "main main  main main main sd ";
    

}
.header{
    grid-area: hd;
    color: black;
    font-size: 30px;
    text-align: center;
  
}

.content{
    grid-area: main;
    display:flex;
    flex-direction: column;
    width: 100%;
    color: white;
}
.beauty_img{
    border-radius: 0%;
    height: 75vh;
    width: 70vh;
}
.content1{
    grid-area: sd;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}


.coco_img{
    height: 55vh;

    border-radius: 50%;
}
footer{
    background-color: red;
}
