*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: burlywood;
    font-size: 40px;
    font-weight: 300;
    
}
ul{ 
    list-style: none;
}
nav{
    width: 100%;
    padding: 2% 6%;
}


body{

    height:auto;
}
button{
    background-color: black;
    color:aliceblue;
    margin-top: 20px;
    padding: 20px;
    border-radius:10px;
    outline: none;
    font-size: 20px;
}
button:hover{
    background-color: antiquewhite;
    color: rgb(186, 127, 186);
}
.header{
    display:flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align:center;
    align-items:center;
    line-height: 4em; 
    height: 50vh;

}
.section1{
    border-top: 10px solid black ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.473)), url('pictures/beauty.jpg');
    background-position: center;
    background-size: contain;
    height: 80vh;
    border-bottom:  6px solid #5854547f;
    position: relative;
 
}

footer p {
    font-size: 50px;
    color: burlywood;
}
.list2{
    list-style: none;
    color: white;
    font-size: 30px;
    

}
.section2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    padding: 20px 20px;
    background-color: black;
    height:20vh;
    
    
}
.list2 a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer{
 display: grid;
grid-template-rows: repeat(2, 2fr);
    
}