* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section1{
    background-color: pink;
}
.header{
    color: blue;
    padding: 20px 20px;
}
body {
  height: auto;
}
.container {
  display: grid;
  grid-template-areas: "main main  main main sd sd ";
  
}
.content {
  grid-area: main;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: black;
  font-size: 30px;
  font-weight: 300;
  margin-left: 200px;
  justify-content: space-between;
}
.beauty_img {
  border-radius: 0%;
  height: 75vh;
  width: 70vh;
}
.content1 {
  display: grid;
   grid-area: sd;
  display: flex;
  flex-direction: column; 
  width: 50%;
  grid-template-areas: " sd sd ";
}

.coco_img {
  height: 30vh;
  border-radius: 50%;
}
footer p {
  font-size: 50px;
  color: burlywood;
}
.list2 {
  list-style: none;
  color: white;
  font-size: 30px;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0%;
  padding: 0px 0px 50px 0px;
  background-color: black;
}
